<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
</head>
<body>
    <main>
        <!-- MATRIZ -->
        <!-- Cuando el modelo es un objeto, un arreglo o una matriz, al ponerlo solo asi, se mostrara la version stringified -->
        <!-- <h2>{{ laborales }}</h2> -->

        <!-- Para renderizar listas se utiliza la directiva v-for="elemento in matriz" -->
        <!-- elemento es cualquier nombre descriptivo que asignemos, in es palabra reservada, matriz es el modelo -->
        <!-- <ul>
            <li v-for="dia in laborales">{{ dia }}</li>
        </ul> -->

        
        <!-- MATRIZ DE OBJETOS (collection) -->
        <!-- Renderizar arreglo de objetos, acceder a las propiedades con el operador de punto -->
        <!-- <ul>
            <li v-for="(tarea, index) in tareas">
                {{index + 1}} {{ tarea.nombre }}
                <small>( {{tarea.prioridad}} )</small>
            </li>
        </ul> -->


        <!-- OBJETOS -->
        <!-- v-for para objetos -->
        <ul>
            <li v-for="(value, key, index) in persona">
                {{ index }} - {{ key }} - {{ value }}
            </li>
        </ul>

        <pre>{{ $data }}</pre>
    </main>

    <script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>